{% set menu = [
{"text": "Главная", "link": "choose_gender"},
{"text": "О проекте", "link": "about"},
]
%}

<nav class="navbar navbar-expand-lg navbar-dark bg-dark">
    <div class="container">
        <a class="navbar-brand" href="{{ url_for('choose_gender') }}">Слова поддержки</a>
        <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent"
                aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
            <span class="navbar-toggler-icon"></span>
        </button>

        <div class="collapse navbar-collapse" id="navbarSupportedContent">

            <ul class="navbar-nav mr-auto">
                {% for item in menu %}
                {% if request.path == url_for(item.link) %} {% set c = "nav-item active" %}{% else %} {% set c =
                "nav-item" %}{% endif %}
                <li class="{{ c }}"><a class="nav-link" href="{{ url_for(item.link) }}">{{ item.text }}</a></li>
                {% endfor %}
                {% if current_user.is_admin %}
                <li class="nav-item"><a class="nav-link" href="/admin/">Админка</a></li>
                {% endif %}
            </ul>

            <ul class="navbar-nav ml-auto">
                {% if current_user.is_anonymous %}
                {% if request.path == url_for('login') %}
                {% set c = "nav-item active" %}{% else %} {% set c = "nav-item" %}{% endif %}
                <li class="{{ c }}"><a class="nav-link" href="{{ url_for('login') }}">Вход</a></li>
                {% else %}
                {% if request.path == url_for('account', username=current_user.username) %}
                {% set c = "nav-item active" %}{% else %} {% set c = "nav-item" %}{% endif %}
                <li class="{{ c }}">
                    <a class="nav-link" href="{{ url_for('account', username=current_user.username) }}">Личный
                        кабинет</a></li>
                <li class="nav-item"><a class="nav-link" href="{{ url_for('logout') }}">Выход</a></li>
                {% endif %}
            </ul>
        </div>
    </div>
</nav>